* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f78e69;
  color: #fff;
  overflow: auto;
}

.title {
  float: right;
  padding-right: 1em;
}

.container {
  padding: 2em 3em;
  height: 100vh;
}

.container-img {
  background: #f78e69;
  width: 100%;
}

img {
  width: 100%;
}

.gray-scale {
  filter: grayscale(100%);
}

footer {
  background: #f78e69;
  color: #fff;
  font-size: 16px;
  padding: 1.5em;
  text-align: center;
}

.info {
  line-height: 1.5em;
}

@media only screen and (max-width : 1023px){
  .pics {
    margin-bottom: 1em;
  }
  
  .container-img {
    padding: 2em 0;
  }
}


@media only screen and (min-width : 1024px){

  .main-title {
    font-weight: bold;
  }

  .container-img {
    background: #f78e69;
    width: 100%;
    height: 100vh;
  }

  .box-img {
    margin: 0 auto;
    padding: 14% 4%;
  }

  .info, .panda-center {
    margin-top: 10%;
  }
}